a:link {
    color:black;
}

a:visited {
    color: green;
}

a:hover {
    color: white;
}

a {
    background-color: lightskyblue;
}

h2 {
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 35px;
    border-radius: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 50px;
}

li,
p {
    font-size: 23px;
    margin-right: 20%;
}

h1 {
    font-size: 55px;
    background-color: cadetblue;
    border-radius: 50px;
    text-indent: 50px;
    margin-right: 50%;
}